:root{
  --darkerBg: #191414;
  --lighterBg: #212121;
  --green: #1DB954;
  --white: #fff;
  --red: #FF3636;
}
body {
  margin: 0;
  font-family: 'Georgia',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: var(--darkerBg);
}
html{
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
